In [1]:
import requests
import pandas as pd
import config

In [17]:
df = pd.read_json('test.json')
df = df.transpose()
df = df.drop(["_ragicId", "_star", "_index_title_", "_index_", "_seq"], axis=1).sort_index()
df.to_dict('records')

[{'First_name': 'Nicolas',
  'Last_name': 'de la Fuente',
  'Organization': 'SDED',
  'Address1': '',
  'Address2': '',
  'Address3': '',
  'City': '',
  'State': '',
  'Zip': '',
  'Country_non-US': ''},
 {'First_name': 'Jason',
  'Last_name': 'Sheu',
  'Organization': 'SDED',
  'Address1': '',
  'Address2': '',
  'Address3': '',
  'City': '',
  'State': '',
  'Zip': '',
  'Country_non-US': ''}]

In [2]:
table_id = '1'
group_name = 'test2'


url = 'https://www.ragic.com/ccedatabase/%s/%s?api&APIKey=%s' % (group_name, table_id, config.api)

r = requests.get(url)
r.json()

{'11': {'_ragicId': 11,
  '_star': False,
  'T1-ID': '10',
  '_index_title_': '10',
  'T11': 'sent',
  'T12': 'from',
  'T13': 'terminal',
  'Number': '',
  '_index_': '',
  '_seq': 1},
 '9': {'_ragicId': 9,
  '_star': False,
  'T1-ID': '9',
  '_index_title_': '9',
  'T11': 'updated',
  'T12': 'from',
  'T13': 'terminal',
  'Number': '',
  '_index_': '',
  '_seq': 2},
 '7': {'_ragicId': 7,
  '_star': False,
  'T1-ID': '7',
  '_index_title_': '7',
  'T11': 'column 1',
  'T12': 'column 2',
  'T13': 'column 3',
  'Number': '',
  '_index_': '',
  '_seq': 3},
 '5': {'_ragicId': 5,
  '_star': False,
  'T1-ID': '00006',
  '_index_title_': '00006',
  'T11': '222',
  'T12': '3333',
  'T13': '5555',
  'Number': '',
  '_subtable_1000133': {'3': {'_ragicId': 3,
    '_parentRagicId': 5,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00004',
    'T31': 'EE',
    'T32': 'RR',
    'T33': 'TTT',
    'special': ''}},
  '_index_': '',
  '_seq': 4},
 '4': {'_ragicId': 4,
  '_star': False,
  'T1-ID': '00005',
  '_index_title_': '00005',
  'T11': '2',
  'T12': '3',
  'T13': '4',
  'Number': '',
  '_subtable_1000123': {'13': {'_ragicId': 13,
    '_parentRagicId': 4,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-3',
    'T21': '1',
    'T22': '2',
    'T23': '3'},
   '14': {'_ragicId': 14,
    '_parentRagicId': 4,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-4',
    'T21': '4',
    'T22': '5',
    'T23': '6'}},
  '_index_': '',
  '_seq': 5},
 '3': {'_ragicId': 3,
  '_star': False,
  'T1-ID': '00004',
  '_index_title_': '00004',
  'T11': '3',
  'T12': '4',
  'T13': '6',
  'Number': '',
  '_index_': '',
  '_seq': 6},
 '2': {'_ragicId': 2,
  '_star': False,
  'T1-ID': '00003',
  '_index_title_': '00003',
  'T11': '1',
  'T12': '2',
  'T13': '3',
  'Number': '',
  '_index_': '',
  '_seq': 7},
 '1': {'_ragicId': 1,
  '_star': False,
  'T1-ID': '00002',
  '_index_title_': '00002',
  'T11': 't1 2 t11',
  'T12': 't1 2 t12',
  'T13': '',
  'Number': '',
  '_subtable_1000123': {'18': {'_ragicId': 18,
    '_parentRagicId': 1,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-5',
    'T21': 'R',
    'T22': 'U',
    'T23': 'E'}},
  '_subtable_1000133': {'1': {'_ragicId': 1,
    '_parentRagicId': 1,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00002',
    'T31': 't312',
    'T32': 't322',
    'T33': 't332',
    'special': 'oooo'}},
  '_subtable_1000139': {'0': {'_ragicId': 0,
    '_parentRagicId': 1,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00001',
    'Untitled': 'ddddd',
    'Untitled2': 'fffff'},
   '1': {'_ragicId': 1,
    '_parentRagicId': 1,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00002',
    'Untitled': 'gggg',
    'Untitled2': 'hhhhh'},
   '2': {'_ragicId': 2,
    '_parentRagicId': 1,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00003',
    'Untitled': 'cccc',
    'Untitled2': 'vvvvv'}},
  '_subtable_1000146': {'0': {'_ragicId': 0,
    '_parentRagicId': 1,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00001',
    'Untitled': 'fff'},
   '1': {'_ragicId': 1,
    '_parentRagicId': 1,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00002',
    'Untitled': 'ggg'},
   '2': {'_ragicId': 2,
    '_parentRagicId': 1,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00003',
    'Untitled': 'hhh'}},
  '_index_': '',
  '_seq': 8},
 '0': {'_ragicId': 0,
  '_star': False,
  'T1-ID': '00001',
  '_index_title_': '00001',
  'T11': 'EEEEEEEE',
  'T12': 'RRRRRR',
  'T13': 't13 1',
  'Number': '',
  '_subtable_1000123': {'19': {'_ragicId': 19,
    '_parentRagicId': 0,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-6',
    'T21': 'T',
    'T22': 'J',
    'T23': 'D'},
   '20': {'_ragicId': 20,
    '_parentRagicId': 0,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-7',
    'T21': 'YES',
    'T22': 'M',
    'T23': 'W'},
   '21': {'_ragicId': 21,
    '_parentRagicId': 0,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-8',
    'T21': '10',
    'T22': '11',
    'T23': '12'}},
  '_subtable_1000133': {'0': {'_ragicId': 0,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00001',
    'T31': 't321',
    'T32': 't312',
    'T33': 't323',
    'special': 'pppp'},
   '2': {'_ragicId': 2,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00003',
    'T31': 't313`',
    'T32': 't323',
    'T33': 't333',
    'special': 'mmmm'},
   '4': {'_ragicId': 4,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00005',
    'T31': 'E',
    'T32': 'F',
    'T33': 'G',
    'special': ''},
   '5': {'_ragicId': 5,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00006',
    'T31': 'V',
    'T32': 'B',
    'T33': 'N',
    'special': ''},
   '6': {'_ragicId': 6,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00007',
    'T31': 'TT',
    'T32': 'GG',
    'T33': 'HH',
    'special': 'FF'}},
  '_subtable_1000139': {'3': {'_ragicId': 3,
    '_parentRagicId': 0,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00004',
    'Untitled': '22222',
    'Untitled2': '33333'},
   '4': {'_ragicId': 4,
    '_parentRagicId': 0,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00005',
    'Untitled': '44444',
    'Untitled2': '5555'},
   '5': {'_ragicId': 5,
    '_parentRagicId': 0,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00006',
    'Untitled': '6666',
    'Untitled2': '77777'}},
  '_subtable_1000146': {'3': {'_ragicId': 3,
    '_parentRagicId': 0,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00004',
    'Untitled': '222'},
   '4': {'_ragicId': 4,
    '_parentRagicId': 0,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00005',
    'Untitled': '333'},
   '5': {'_ragicId': 5,
    '_parentRagicId': 0,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00006',
    'Untitled': '444'}},
  '_index_': '',
  '_seq': 9}}

In [15]:
import requests
import pandas as pd
import config

class RagicTools():
    def __init__(self, table_id, group_name, api):
        self.table_id = table_id
        self.group_name = group_name
        self.api = api
        self.url = 'https://www.ragic.com/ccedatabase/%s/%s?api&APIKey=%s' % (self.group_name, self.table_id, self.api)
    def get_table(self):
        '''
        gets table passed into constructor 
        '''
        r = requests.get(self.url)
        return r.json()
    
    def add_entry(self, entry):
        '''
        entry must look like this: 
        files = {
            '1000114': (None, '8'),
            '1000115': (None, 'column 1-2-3'),
            '1000116': (None, 'column 2-2'),
            '1000117': (None, 'column 3-2')
        }
        where the keys are the column ids that can be found in ragic
        adds entry to table
        '''
       
        r = requests.post(url, files = entry)
        return r.json()

    def delete_entry(self, row_id):
        '''
        deletes row in current table in 
        '''
        row_id = str(row_id)
        url = 'https://www.ragic.com/ccedatabase/%s/%s/%s?api&APIKey=%s' % (self.group_name, self.table_id, row_id, self.api)
        r = requests.delete(url)
        return r.json()

    def update_entry(self, row_id, updated_entry):
        '''
        updates given row with new data in group
        entry must look like this:
        updated_entry = {
            '1000114': (None, '9'),
            '1000115': (None, 'updated'),
            '1000116': (None, 'from'),
            '1000117': (None, 'script')
        }

        '''
        row_id = str(row_id)
        url = 'https://www.ragic.com/ccedatabase/%s/%s/%s?api&APIKey=%s' % (self.group_name, self.table_id, row_id, self.api)        
        r = requests.post(url, updated_entry)
        return r.json()
    
    def get_table_csv(self):
        r = requests.get(self.url)
        return r.json()
    
    def get_table_id(self):
        return self.table_id
    def get_group(self):
        return self.group_name
    def get_url(self):
        return self.url

In [16]:
tester = RagicTools('1','test2','ODlWbjdDd3hEYlRFODJXaG0vY2lsamNOTmVJR05hOHFGb3RraHZDeTRDNFgvK05ucmtUdVl0VXM5MUo0bFF0Vw')
temp = tester.get_table()
temp

{'12': {'_ragicId': 12,
  '_star': False,
  'T1-ID': '00012',
  '_index_title_': '00012',
  'T11': '',
  'T12': '',
  'T13': '',
  'Number': '',
  '_index_': '',
  '_seq': 1},
 '11': {'_ragicId': 11,
  '_star': False,
  'T1-ID': '10',
  '_index_title_': '10',
  'T11': 'sent',
  'T12': 'from',
  'T13': 'terminal',
  'Number': '',
  '_index_': '',
  '_seq': 2},
 '9': {'_ragicId': 9,
  '_star': False,
  'T1-ID': '9',
  '_index_title_': '9',
  'T11': 'updated',
  'T12': 'from',
  'T13': 'terminal',
  'Number': '',
  '_index_': '',
  '_seq': 3},
 '7': {'_ragicId': 7,
  '_star': False,
  'T1-ID': '7',
  '_index_title_': '7',
  'T11': 'column 1',
  'T12': 'column 2',
  'T13': 'column 3',
  'Number': '',
  '_index_': '',
  '_seq': 4},
 '5': {'_ragicId': 5,
  '_star': False,
  'T1-ID': '00006',
  '_index_title_': '00006',
  'T11': '222',
  'T12': '3333',
  'T13': '5555',
  'Number': '',
  '_subtable_1000133': {'3': {'_ragicId': 3,
    '_parentRagicId': 5,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00004',
    'T31': 'EE',
    'T32': 'RR',
    'T33': 'TTT',
    'special': ''}},
  '_index_': '',
  '_seq': 5},
 '4': {'_ragicId': 4,
  '_star': False,
  'T1-ID': '00005',
  '_index_title_': '00005',
  'T11': '2',
  'T12': '3',
  'T13': '4',
  'Number': '',
  '_subtable_1000123': {'13': {'_ragicId': 13,
    '_parentRagicId': 4,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-3',
    'T21': '1',
    'T22': '2',
    'T23': '3'},
   '14': {'_ragicId': 14,
    '_parentRagicId': 4,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-4',
    'T21': '4',
    'T22': '5',
    'T23': '6'}},
  '_index_': '',
  '_seq': 6},
 '3': {'_ragicId': 3,
  '_star': False,
  'T1-ID': '00004',
  '_index_title_': '00004',
  'T11': '3',
  'T12': '4',
  'T13': '6',
  'Number': '',
  '_index_': '',
  '_seq': 7},
 '2': {'_ragicId': 2,
  '_star': False,
  'T1-ID': '00003',
  '_index_title_': '00003',
  'T11': '1',
  'T12': '2',
  'T13': '3',
  'Number': '',
  '_index_': '',
  '_seq': 8},
 '1': {'_ragicId': 1,
  '_star': False,
  'T1-ID': '00002',
  '_index_title_': '00002',
  'T11': 't1 2 t11',
  'T12': 't1 2 t12',
  'T13': '',
  'Number': '',
  '_subtable_1000123': {'18': {'_ragicId': 18,
    '_parentRagicId': 1,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-5',
    'T21': 'R',
    'T22': 'U',
    'T23': 'E'}},
  '_subtable_1000133': {'1': {'_ragicId': 1,
    '_parentRagicId': 1,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00002',
    'T31': 't312',
    'T32': 't322',
    'T33': 't332',
    'special': 'oooo'}},
  '_subtable_1000139': {'0': {'_ragicId': 0,
    '_parentRagicId': 1,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00001',
    'Untitled': 'ddddd',
    'Untitled2': 'fffff'},
   '1': {'_ragicId': 1,
    '_parentRagicId': 1,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00002',
    'Untitled': 'gggg',
    'Untitled2': 'hhhhh'},
   '2': {'_ragicId': 2,
    '_parentRagicId': 1,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00003',
    'Untitled': 'cccc',
    'Untitled2': 'vvvvv'}},
  '_subtable_1000146': {'0': {'_ragicId': 0,
    '_parentRagicId': 1,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00001',
    'Untitled': 'fff'},
   '1': {'_ragicId': 1,
    '_parentRagicId': 1,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00002',
    'Untitled': 'ggg'},
   '2': {'_ragicId': 2,
    '_parentRagicId': 1,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00003',
    'Untitled': 'hhh'}},
  '_index_': '',
  '_seq': 9},
 '0': {'_ragicId': 0,
  '_star': False,
  'T1-ID': '00001',
  '_index_title_': '00001',
  'T11': 'EEEEEEEE',
  'T12': 'RRRRRR',
  'T13': 't13 1',
  'Number': '',
  '_subtable_1000123': {'19': {'_ragicId': 19,
    '_parentRagicId': 0,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-6',
    'T21': 'T',
    'T22': 'J',
    'T23': 'D'},
   '20': {'_ragicId': 20,
    '_parentRagicId': 0,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-7',
    'T21': 'YES',
    'T22': 'M',
    'T23': 'W'},
   '21': {'_ragicId': 21,
    '_parentRagicId': 0,
    '_header_Y': [7],
    '_start_X': 1,
    'T2-ID': 'T2-8',
    'T21': '10',
    'T22': '11',
    'T23': '12'}},
  '_subtable_1000133': {'0': {'_ragicId': 0,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00001',
    'T31': 't321',
    'T32': 't312',
    'T33': 't323',
    'special': 'pppp'},
   '2': {'_ragicId': 2,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00003',
    'T31': 't313`',
    'T32': 't323',
    'T33': 't333',
    'special': 'mmmm'},
   '4': {'_ragicId': 4,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00005',
    'T31': 'E',
    'T32': 'F',
    'T33': 'G',
    'special': ''},
   '5': {'_ragicId': 5,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00006',
    'T31': 'V',
    'T32': 'B',
    'T33': 'N',
    'special': ''},
   '6': {'_ragicId': 6,
    '_parentRagicId': 0,
    '_header_Y': [14],
    '_start_X': 1,
    'T3-ID': '00007',
    'T31': 'TT',
    'T32': 'GG',
    'T33': 'HH',
    'special': 'FF'}},
  '_subtable_1000139': {'3': {'_ragicId': 3,
    '_parentRagicId': 0,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00004',
    'Untitled': '22222',
    'Untitled2': '33333'},
   '4': {'_ragicId': 4,
    '_parentRagicId': 0,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00005',
    'Untitled': '44444',
    'Untitled2': '5555'},
   '5': {'_ragicId': 5,
    '_parentRagicId': 0,
    '_header_Y': [21],
    '_start_X': 1,
    'T4-ID': '00006',
    'Untitled': '6666',
    'Untitled2': '77777'}},
  '_subtable_1000146': {'3': {'_ragicId': 3,
    '_parentRagicId': 0,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00004',
    'Untitled': '222'},
   '4': {'_ragicId': 4,
    '_parentRagicId': 0,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00005',
    'Untitled': '333'},
   '5': {'_ragicId': 5,
    '_parentRagicId': 0,
    '_header_Y': [26],
    '_start_X': 1,
    'T5-ID': '00006',
    'Untitled': '444'}},
  '_index_': '',
  '_seq': 10}}

In [29]:
list(temp.keys())

pd.DataFrame(temp).transpose()[['T1-ID', 'T11','T12','T13']].iloc[1].to_list()#.to_csv('ragic csv test.csv')

['10', 'sent', 'from', 'terminal']

In [2]:
from api import c2mAPI
c2m = c2mAPI.c2mAPIBatch("username","password","0")#change to 1 for production
c2m.setFileName("myFileName","test.pdf") #set the name ane file path for batch

po = c2mAPI.printOptions('Letter 8.5 x 11','Next Day','Address on Separate Page','Full Color','White 24#','Printing both sides','First Class','#10 Double Window')
ad = c2mAPI.returnAddress("John Doe","MyCompany","12345 Test St","ste 335","Oak Brook","IL","60523")

addList = [] #For Batch please populate address fields appropriately, field names cannot change
address = {'name':'test','organization':'test2','address1':'1235 test street','address2':'ste 1234','address3':'','city':'Oak Brook','state':'IL','postalCode':'60523','country':'US'}
addList.append(address)
address = {'name':'test2','organization':'test2','address1':'1235 test street','address2':'ste 1234','address3':'','city':'Oak Brook','state':'IL','postalCode':'60523','country':'US'}
addList.append(address)

#start page, end page, print options, return address, address List for page range
#c2m.addJob("1","2",po,ad,addList)

print(addList)


# print(c2m.runAll().text) 

#To start a second batch initiate class again
#c2m = c2mAPIBatch.c2mAPIBatch("username","password","0")#change to 1 for production
#c2m.setFileName("myFileName","test.pdf") #set the name ane file path for batch

[{'name': 'test', 'organization': 'test2', 'address1': '1235 test street', 'address2': 'ste 1234', 'address3': '', 'city': 'Oak Brook', 'state': 'IL', 'postalCode': '60523', 'country': 'US'}, {'name': 'test2', 'organization': 'test2', 'address1': '1235 test street', 'address2': 'ste 1234', 'address3': '', 'city': 'Oak Brook', 'state': 'IL', 'postalCode': '60523', 'country': 'US'}]

# Next steps
- Ragic -> a csv file -> Ragic Mailer
- Jobs table in ragic
- App that allows us to select rows to mail to 
- Proofreading
- PERSONALIZATION

In [34]:
from api import c2mAPI
import pandas as pd
class RagicMailer:
    
    def __init__(self, file, username, password):
        
        self.df = pd.read_csv(file)
        self.username = username
        self.password = password
        
        
    def send_all_mail(self, filename, path):
        c2m = c2mAPI.c2mAPIBatch(self.username, self.password, "0") #change to 1 for production
        c2m.setFileName(filename, path) #set the name ane file path for batch
        
        #change to appropriate address and options
        po = c2mAPI.printOptions('Letter 8.5 x 11','Next Day','Address on Separate Page','Full Color','White 24#','Printing both sides','First Class','#10 Double Window')
        ad = c2mAPI.returnAddress("Jason Sheu","SDED","3855 Nobel Drive","apt 2101","La Jolla","CA","92122")

        addList = [] #field names cannot change
        for i in range(len(self.df)):
            addList.append(self.df.iloc[i].to_dict())
        
        return addList
        
#         c2m.addJob("1","2",po,ad,addList)
#         print(c2m.runAll().text)
        
    def send_specific(self, name, organization , address1, address2 , address3 , city, state, postalCode, country, filename, path):
        c2m = c2mAPI.c2mAPIBatch(self.username, self.password, "1") #change to 1 for production
        c2m.setFileName(filename, path) #set the name ane file path for batch
        
        #change to appropriate address and options
        po = c2mAPI.printOptions('Letter 8.5 x 11','Next Day','Address on Separate Page','Full Color','White 24#','Printing both sides','First Class','#10 Double Window')
        ad = c2mAPI.returnAddress("Jason Sheu","SDED","3855 Nobel Drive","apt 2101","La Jolla","CA","92122")

        addList = [] 
        address = {'name': name,
                   'organization': organization,
                   'address1': address1,
                   'address2': address2,
                   'address3': address3,
                   'city': city,
                   'state': state,
                   'postalCode': postalCode,
                   'country':country}
        addList.append(address) 
        c2m.addJob("1","2",po,ad,addList) # start page, stop page
        
        #this line sends the mail through the api
        print(c2m.runAll().text)

In [35]:
mailer = RagicMailer('ragic sample table.csv', 'lanewsharman', '1Lovesandiego')
#mailer.send_specific('jason sheu' ,'SDED' ,'3855 Nobel Drive', 'apt 2101', '', 'La Jolla','CA','92122','US', 'sample mail','sample.pdf')
#mailer.send_all_mail('sample mail','sample.pdf')

[{'name': 'john doe',
  ' organization': ' ',
  ' address1': ' 123 test street',
  ' address2': ' ',
  ' address3': ' ',
  ' city': ' la jolla',
  ' state': ' CA',
  ' postalCode': 92122,
  ' country': ' US'},
 {'name': 'jane doe',
  ' organization': ' ',
  ' address1': ' 456 test street',
  ' address2': ' ',
  ' address3': ' ',
  ' city': 'la jolla',
  ' state': ' CA',
  ' postalCode': 92122,
  ' country': ' US'}]

In [ ]:
# pandas.DataFrame(test_json).transpose()[['_ragicId', 'T1-ID', 'T11','T12','T13']].set_index('_ragicId')

In [8]:
c2m = c2mAPI.c2mAPIBatch('lanewsharman', '1Lovesandiego', "1")#change to 1 for production
c2m.batchId = 2258633
print(c2m.getBatchStatus().text)

Job not found